@media(max-width: 991.98px) {
   .main_container {
      padding: 2em 0;
      background-color: #ffffff ;
      min-height: calc(100vh - 269px);}
   .hide1{
      visibility: hidden;
     height: 0;
   }
   .h22{
   color: #303264;
   font-size: 1.29375rem;
   font-weight: 700;
   letter-spacing: -0.5px;
   }
   .official_hide{
      visibility: hidden;
     height: 0;
     
    
   }
    .bg_img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(../img/s2.jpeg);
        filter: grayscale(90%);
        height: 400px;
        width: 100%;
        /* display: flex;
        align-items: center; */
       }
    .co_logo1{
        /* height: 100px; */
        background-color: white;
        /* margin-right: 1rem; */
        border: none;
         }
         .co_logo1 img{
          width: 60px;
          height: 60px;
          padding: 5px;
         }
         .wiFull{
            width: 100%;
            display: block
         }
         .three{
       
            background-color: rgb(225 241 241);
            /* margin-bottom: 10px; */
         }
         .mid{
            display: flex;
            align-items: center;
            padding: 10px;
         }
         .map1{
            height: 200px;
            width: 200px;
         }
         .table{
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
         }
         .left_part{
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
            clear: both;
         }
         .pollImg{
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
            clear: both;
         }
         .top2{
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
         }
         .menu_wrapper{
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
         }
         .hide1{
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
         }
         .hide_nav{
            visibility: visible;
            clear: both;
            float: left;
            /* margin: 10px auto 5px 20px; */
            width: auto;
            display: inline-flex;
         
         }
         .top_m1{
         margin-top: 700px;
         color: black;
         height: auto;
         /* margin-bottom:150px; */
         }
         .color1{
            color: black !important;
         }
         .color2{
            background-color:#f3f7fc;
            padding: 10px;
            margin-top: 20px;
         }
         .h3{
            font-size: 20px;
            color: black;
         }
        
         .m1{
            margin: 10px;
         }
         .fix_btn{
            /* position: absolute; */
            margin-top: 22%;

         }
         .bodr{
            border: 1px solid black;
            padding: 5px;
            border-radius: 5px;
            width: 100%;
            align-items: center;
        }
        .hide_btns{
           visibility: visible;
           height: auto;
          }
          .line_h3{
            line-height: 15px;
          }
          .pr1{
            padding: 10px;
          }
          .hide_btns2{
            display: inline;
          }
          .h2{
            height: 50px;
            margin-bottom: 100px;
          }
          .man_big{
            height: 64px;
            width: 64px;
          }
          .hide_pro{
            display: block;
          }
          .pollBoard{
            width: 100%;
        }
        .student{
         margin-left: 0px;
        }
        .cent{
         text-align: center;
        }
        .flot{
         float: none;
        }
        .maSe{
         margin-left: 0px;
         background-color: #f0f2f3;
        }
        .color3{
         background-attachment:  #f0f2f3;
        }
         
}
