body {
    margin: 0;
    font-family: "Nunito Sans",sans-serif,"Helvetica Neue Light","Helvetica Neue","Helvetica","Arial";
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left; 
}
h3, .h3 {
    font-size: 1.53125rem;
}

.coName{
    font-weight: 700;
}
/* body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
div,
td,
th,
small,
label,
button,
input,
select {
    font-family: 'Montserrat', sans-serif; 
font-family: 'Nunito Sans', sans-serif;
 font-family: 'Open Sans', sans-serif; 
} */
.h22{
    font-weight: 700;
    letter-spacing: -0.5px;
    color:  rgb(48 66 99);
    font-size: 1.75rem;
}
.h6{
    font-weight: 600;
}
.nb{
    color: #1f5ca2;
}
 .text-big1 {
    font-size: 1.25rem;
    color: #303264;
    font-weight: 600;
}
.text-big2 {
    font-size: 2.55rem;
    color: #303264;
    font-weight: 700;
}
.text-big3 {
    font-size: 1.25rem;
    color: #303264;
    font-weight: 2rem;
}
.title{
    font-size: 1.1rem;
}
    .small-heading {
        color: #303264 !important;
        font-weight: 700;
        font-size: .95rem;
        margin-bottom: 0.2em;
        text-decoration: none;
    }
    .infotip {
        color: #111;
        padding: 1px;
        line-height: 1;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
    }
    .table{
        /* padding: 20px; */
        padding-left: 20px !important;
    }
    .logo{
        height: 50px;
        width: 50px;
    }
    .black{
        color: black;
        font-weight: 100;
        margin: 1%;
        text-decoration: none;
    }
    .srch{
        width: 550px;
    }
.gap1{
    height: 50px;
}
.deco{
    text-decoration: none;
}
.topp{
    margin-top: 4.5%;
}

/* fixed navbar */
.blackk{
    color: black !important;
}
.btn_w1{
    width: 150px;
}
.icon_small{
    height: 10px;
}
.btn-rounded {
    border-radius: 5rem !important;
}

.sadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.m_left{
    margin-left: 20%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.alignitem{
    align-items: center;
    justify-content: space-between;
}
/* FIxed background */
.bg_img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(../img/s2.jpeg);
    filter: grayscale(90%);
    height: 200px;
    width: 100%;
    /* display: flex;
    align-items: center; */
   }
   .top2{
    color: white;
    /* margin-top: -20px; */
 }
 /* fixed bg */
.whitee{
    color: white;
}
 
   .co_logo{
  background-color: white;
  margin-right: 1rem;
  border: 1px solid black;
   }
   .co_logo img{
    width: 100px;
    height: 100px;
    padding: 10px;

   }
 
   .main_container {
    padding: 2em 0;
    background-color: #f5f5f9;
    min-height: calc(100vh - 269px);}


    /* left side menu */
   .menu_wrapper{
    /* top: 85px; */
    margin-top: 35px;
    z-index: 8;
   }
   .menu{
    font-size: 1rem;
    font-style: none;
    line-height: 2;

   }
   
   .menu .item a {
    text-decoration: none;

    color: #777;
    padding: 0;
    display: inline;
    position: relative;}
/* right side cardss */

.main_card{
    border-radius: 0.75rem 0.75rem 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

}
.btn-label {
	/* position: relative; */
	/* left: -12px; */
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
	margin-bottom: 0px;
}
.card1 h2{
    font-weight: 700;
    letter-spacing: -0.5px;
}
.bodr{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: auto;
}
.mr{
    margin-right: 10px;
}
.icon{
    height: 50px;
    width: 50px;
}
/* card3 */
.pollMain {
    width: 100% !important;
    /* padding: 1.6rem; */
    /* margin-bottom: 1.5rem; */
    /* border-radius: 0 0 0.75rem 0.75rem; */
    background-color: #f5fdff;
}
.pollBoard{
    width: 60%;
}
.pollImg{
    height: 180px
}
.round{
    border: 1px solid black;
    border-radius: 1;
    padding: 10px;
}
.price{
    font-size: 35px;
}
.blue{
    color: #1f5ca2 !important;
}
.bodr2{
    border: 1px solid #1f5ca2;
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 29px;
    display: inline;
    margin: auto;
    width: 60px;
}
.bodr3{
    border: 1px solid #1fa237;
    font-size: 0.5rem;
    padding: 3px;
    border-radius: 5px;
    display: inline;
    margin: auto;
    /* width: 60px; */
}
.bar_val{
    width: 100%;
    height: 4px;
    background-color: rgb(206, 197, 197);
}
.bar_val .bar_green{
    background-color:#00c39c;
    width: 80%;
    height: 4px;
}
.bar_val .bar_yellow{
    background-color: #fcb941;
    width: 100%;
    height: 4px;
}
.redRatio{
    font-size: 25px;
    color: red;
    line-height: -1px;
}
.bar_val .bar_green2{
    background-color: #00c39c;
    width: 20%;
    height: 4px;
}
.bar_val .bar_green3{
    background-color: #00c39c;
    width: 100%;
    height: 4px;
}
.bar_val .bar_pp3{
    background-color:#8e44ad;
    width: 44%;
    height: 4px;
}
.bar_val .bar_red{
    background-color:#e1151f;
    width: 67%;
    height: 4px;
}.bar_val .bar_yy{
    background-color:#fec81b;
    width: 84%;
    height: 4px;
}.bar_val .bar_p4{
    background-color:#8e44ad;
    width: 24%;
    height: 4px;
}

.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.blur-top-text {
    color: rgb(33, 31, 31);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: -30px;
  }
  .line_h{
line-height: 0.8rem;
  }
  .line_h1{
    line-height: 0.5rem;
      }
      .line_h2{    line-height: 0.5rem;
      }
      .list-unstyled{
        padding-left: 0;
        list-style: none;
    }
    .similer{
        border-radius: 10px;
        height: 200px;
        width: 200px;
    }
    .nb1{
        background-color: #1f5ca2;
    }
    .varified{
        color: white;
    }
    .hide_nav{
      display: none;
    }
    .hide_btns{
        display: none;
      }
      .hide_btns2{
        display: none;
      }
      .hide_pro{
        display: none;

      }
      .rightt2{
        float:right;
      }
      .student{
        margin-left: 0px;
       }
       .flot{
        float: right;
       }